#navbarNav {
    margin-left: 110px;
    text-shadow: black;
    font-weight: normal;
}

.navbar:hover {
    font-weight: bold;
}

.container {
    background-color: rgb(189, 187, 187)
}
span{
    font-weight:normal
}